.container {
  background: #f6f6f8;
  width: 600px;
  border: solid 0.3px #000000;
  border-radius: 4px;
  padding: 50px;
}
.top {
  border: #ffffff solid 0.2px;
  border-radius: 20px;
  margin-right: 460px;
  background: #c4c1e0;
  color: #ffffff;
  margin-top: 10px;
  padding: -20px;
}
li {
  list-style: none;
}
button {
  padding: 10px;
  border-radius: 4px;
}
#temperature,
#day,
#description {
  margin-left: -15px;
}
.units {
  position: relative;
  top: -38px;
  margin-left: 25px;
  text-decoration: none;
  color: #000000;
}
#wind {
  margin-left: -14px;
}
#description {
  text-transform: capitalize;
}
img {
  width: 80px;
}
#temperature {
  font-size: 40px;
}
